<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SocialClub.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SocialClub.DbConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:SQLAzureServerName.database.windows.net,1433;Database=SocialClub;User ID=YourUserName@SQLAzureServerName;Password=YourPassword;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    
    
  </connectionStrings>
  <userSettings>
    <SocialClub.Desktop.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>demo</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>demo123</value>
      </setting>
    </SocialClub.Desktop.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
